In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 1. Create Your own dataset with at least 10 values by using pandas.Series method
arr = np.arange(10)
ser = pd.Series(arr)
ser

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [7]:
# 2. Create 2 different series and combine into a table using dataframe method 
ser1 = pd.Series(['Suriya', 'Laks',
                         'Sai', 'Hari',
                         'akshay', 'Appasamy'])
ser2 = pd.Series(['Stranger Things', "Wednesday","Friends"
                 'Space Jam', "Batman", 'Zoro'])

data = {"Boys":ser1, "Fav Show":ser2}
boysdf = pd.concat(data, axis=1)
boysdf

       Boys          Fav Show
0    Suriya   Stranger Things
1      Laks         Wednesday
2       Sai  FriendsSpace Jam
3      Hari            Batman
4    akshay              Zoro
5  Appasamy               NaN

In [8]:
# 3.To add an Index, row, or column to a Pandas DataFrame
boysdf

       Boys          Fav Show
0    Suriya   Stranger Things
1      Laks         Wednesday
2       Sai  FriendsSpace Jam
3      Hari            Batman
4    akshay              Zoro
5  Appasamy               NaN

In [12]:
# 4. To Delete Indices, Rows or Columns From a Pandas DataFrame
boysdf.drop("Appasamy")

KeyError: "['Appasamy'] not found in axis"